# deploy/chatix-backup.timer
[Unit]
Description=Run Chatix Backup Daily

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target